<h3>{{tittle}}</h3>

<div *ngIf="!data.length">
  <span>Nenhum registro encontrado</span>
</div>

<table *ngIf="data.length" class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let col of displayedColumns" scope="col">{{ col.label }}</th>
      <th *ngIf="action">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-list__row" *ngFor="let row of data ">
      <td *ngFor="let col of displayedColumns"> {{ row[col.field] }}</td>
      <td class="d-flex justify-content-center" (click)="onDelete(row)" *ngIf="action"><i class="fas fa-trash"></i></td>
    </tr>
  </tbody>
</table>