<div class="form-row ">
  <div class="col-12">
    <h3 class="d-flex justify-content-center">{{title}}</h3>

    <div *ngIf="!data.length">
      <span>Nenhum registro encontrado</span>
    </div>

  </div>
    <table *ngIf="data.length" class="table col-12">
      <thead>
        <tr>
          <th>#</th>
          <th *ngFor="let col of displayedColumns" scope="col">{{ col.label }}</th>
          <th *ngIf="action">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="selectRow(row)" class="table-list__row" *ngFor="let row of data; index as i ">
          <td> {{ i+1 }}</td>
          <td *ngFor="let col of displayedColumns"> {{ row[col.field] }}</td>
          <div class="col-12 mt-3">
            <div class=" delete" (click)="delete(row)" *ngIf="action"><i class="fas fa-trash"></i></div>
            <div class=" view" (click)="view(row)" *ngIf="action"><i class="fas fa-eye"></i></div>
          </div>
        </tr>
      </tbody>
    </table>
</div>