table {
  margin: 25px 0 0;
  flex-wrap: wrap;
}
tbody{
  tr {
    opacity: .8;
    background-color: #f7f7f9;
    
    &:hover {
      border: none;
      background-color: #e1e1ee;
      opacity: 1;
      cursor: pointer;
    }
  }
}

.delete { 
  display: inline;
  opacity: .7;
  color: #FF0000; 
  &:hover {
    color: rgb(170, 20, 0); 
    opacity: 1;
  }
}

.view { 
  display: inline;
  margin-left: 10px;
  opacity: .7;
  color: #28a745; 
  &:hover {
    color: #108f2e; 
    opacity: 1;
  }
}
