<div class="col-12 d-flex justify-content-center tittle tittle-collor"><span>Estabelecimento</span></div>
<div class="content">
  <form class="form-row" [formGroup]="estabelecimentoGroup">
    <div class="col-md-6 col-lg-7 col-xl-3">
      <label for="">Razão Social *</label>
      <input type="text" formControlName="RAZAO_SOCIAL">
    </div>

    <div class="col-md-6 col-lg-5 col-xl-3">
      <label for="">CNPJ *</label>
      <input type="text" formControlName="CNPJ">
    </div>

    <div class="col-md- col-lg-12 col-xl-6">
      <label for="">E-mail</label>
      <input type="text" formControlName="EMAIL">
    </div>

    <div class="col-md- col-lg-12 col-xl-5">
      <label for="">Endereço</label>
      <input type="text" formControlName="ENDERECO">
    </div>

    <div class="col-md-6 col-lg-4 col-xl-2">
      <label for="">Cidade</label>
      <input type="text" formControlName="CIDADE">
    </div>

    <div class="col-md-6 col-lg-2 col-xl-2">
      <label for="">Estado</label>
      <select
        formControlName="ESTADO">
        <option value="{{item.id}}" *ngFor="let item of UFList"> {{ item.name }}</option>
      </select>
    </div>

    <div class="col-md-6 col-lg-6 col-xl-3">
      <label for="">Telefone</label>
      <input type="text" formControlName="TELEFONE">
    </div>

    <div class="col-md-6 col-lg-6 col-xl-3">
      <label for="">Data de Cadastro</label>
      <input type="text" formControlName="DATA_CADASTRO">
    </div>

    <div class="col-md-6 col-lg-6 col-xl-3">
      <label for="">Categoria </label>
      <select formControlName="CATEGORIA">
        <option [value]="item.value" *ngFor="let item of categoriaOptions"> {{ item.name }}</option>
      </select>
    </div>

    <div class="col-md-6 col-lg-2 col-xl-2">
      <label for="">Status</label>
      <select formControlName="STATUS">
        <option value="1">Ativo</option>
        <option value="0">Inativo</option>
      </select>
    </div>

    <div class="col-md-6 col-lg-5 col-xl-2">
      <label for="">Agência</label>
      <input type="text" formControlName="AGENCIA">
    </div>

    <div class="col-md-6 col-lg-5 col-xl-2">
      <label for="">Conta</label>
      <input type="text" formControlName="CONTA">
    </div>

    <div class="col-12 d-flex justify-content-end">
      <button (click)="onCadastrar()" class="btn">Cadastrar</button>
    </div>
  </form>
</div>