.title {
  display: flex;
  margin: auto;
  margin-bottom: 15px;
  width: auto;
  height: auto;
  background: rgb(85, 115, 134);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.4);

  span {
    display: flex;
    color: #ffffff;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .fitcard {
    font-weight: bold;
    font-size: 50px;
  }
}
